.navBar {
    &__container {
        &__logo {
            height: 70px;
            & > * {
                height: 22px;
                width: 72px;
                margin-top: 24px;
                margin-right: 110px;
            }
        }
    }
}
