.services {
    width: 100%;
    min-height: 360px;
    &__items {
        padding-top: 45px;
        &--icon {
            font-size: 3.5rem;
            padding: 2px;
            border-radius: 50%;
            border-width: 2px;
            border-color: #ffffff;
            border-style: solid;
            width: 96px;
            height: 96px;
            & i {
                max-width: 96px;
                max-height: 96px;
            }
        }
    }
}

.title-white {
    border-bottom: $white solid 10px;
    line-height: 60px;
    width: 370px;
    max-width: 100%;
}
