.cards {
    &__item {
        width: 350px;
        height: 350px;
        &--image {
            background-color: #cccccc;
            width: 350px;
            height: 250px;
        }
        &--text {
            font-size: 1.4rem;
            color: $gray-500;
        }
    }
}

.content__works {
    padding-bottom: 140px;
}
