//VARIABLES BOOTSTRAP
$blue: #42b8dd;
$red: #ca3c3c;
$white: #fff;
$gray-200: #ebebeb;
$gray-400: #cccccc;
$gray-500: #898989;
$gray-600: #545454;
$gray-700: #363636;
$gray-900: #252525;
$black: #000;

$primary: $blue;
//$secondary: $gray-600;
//$success: $green;
//$info: $cyan;
//$warning: $yellow;
//$danger: $red;
//$light: $gray-100;
$dark: $black;

$body-bg: $white;
$body-color: $gray-900;

$border-width: 1px;
$border-color: $gray-200;

$border-radius: 10px;
$border-radius-lg: .3rem;
$border-radius-sm: .2rem;

$font-family-base: "Roboto",
sans-serif;
$font-size-base: 1.6rem;
$font-weight-light: 100;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$navbar-dark-color: $white;
//$navbar-dark-hover-color:           rgba($white,.75) !default;
//$navbar-dark-active-color:          $white !default;
//$navbar-dark-disabled-color:        rgba($white,.25) !default;
//$navbar-dark-toggler-icon-bg:       str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;
//$navbar-dark-toggler-border-color:  rgba($white,.1) !default;
